<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>node-dummy-image API</title>
    <style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    #app {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    </style>
</head>
<body>
    <div id="app"></div>
    <script>
        (function () {
            'use strict';

            let app = document.getElementById('app');
            let option = parseParam(location.pathname);

            app.textContent = option.textContent;

            for (let prop in option.style) {
                if (!option.style.hasOwnProperty(prop)) {
                    continue;
                }

                app.style[prop] = option.style[prop];
            }

            function parseParam (str) {
                let separate = str.split('?');
                let dir = separate[0].split('/');
                let param = separate[1];
                let size = dir[1].split('x');

                return {
                    'textContent': dir[1],
                    'style': {
                        'width': size[0] + 'px',
                        'height': size[1] + 'px',
                        'background-color': '#' + dir[2],
                        'color': '#' + dir[3]
                    }
                };
            }
        }());
    </script>
</body>
</html>
